@use '../../setup/fonts';
@use '../../setup/mixins';

footer {
  display: block;
  position: relative;
  background-color: var(--color-bg);
  z-index: 100;
  padding-bottom: 20em;

  #contributors {
    min-height: 0px;

    .container {
      display: block;
      width: 100%;
      text-align: center;
      padding: 0px 0px 20px 0px;

      h2 {
        font-family: Inter;
        font-weight: 700;
        font-size: 7rem;
        margin-bottom: 30px;
        text-transform: uppercase;
        color: var(--color-text-light);
      }

      iframe {
        width: 100%;
        margin-top: 30px;
      }
    }
  }

  #alumni {
    min-height: 0px;
    padding: 0px 0;
    margin-top: -10px;

    .container {
      display: block;
      width: 100%;
      text-align: center;
      padding: 20px 0px;
      border: none !important;

      h3 {
        color: var(--color-text-light);
      }

      & > div {
        border: none !important;
      }
    }
  }

  #sponsors {
    min-height: 0px;
    padding: 0px 0;
    margin-bottom: 40px;

    .container {
      display: block;
      width: 100%;
      text-align: center;
      padding: 20px 0px 30px 0px;
      border: none !important;

      h3 {
        color: var(--color-text-light);
      }

      & > div {
        border: none !important;
      }
    }
  }

  .container {
    @include mixins.grid(0, 1.5fr 2fr);

    & > div:first-of-type {
      border-right: 1px solid var(--color-border);
      padding-right: 60px;
    }

    & > div:last-of-type {
      padding-left: 60px;

      @include mixins.flex(0, flex-start, flex-start, column);
    }

    .logo-list {
      @include mixins.flex(32px, flex-start, flex-start, $w: wrap);
      width: 95%;
      flex-direction: column;

      img {
        height: 34px;
      }

      a {
        display: block;
        width: 100%;
      }
    }

    .alumni-logos {
      display: block !important;
      text-align: center;
      width: 100%;
      flex-direction: row !important;

      img {
        height: 45px;
        width: auto;
        margin: 15px 30px 0 30px;
        display: inline-block;
      }

      a {
        display: inline-block !important;
        width: auto !important;
        margin: 15px 30px 0 30px;

        img {
          margin: 0;
          height: 45px;
        }
      }
    }

    .sponsor-logos {
      display: block !important;
      text-align: center;
      width: 100%;
      flex-direction: row !important;

      img {
        height: 70px;
        width: auto;
        margin: 15px 30px 0 30px;
        display: inline-block;
      }

      a {
        display: inline-block !important;
        width: auto !important;
        margin: 15px 30px 0 30px;

        img {
          margin: 0;
          height: 70px;
        }
      }
    }
  }

  .footer-title {
    @include fonts.font(700);
    display: block;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 2em;
    color: var(--color-text);

    & + p {
      margin-bottom: 40px;
    }
  }

  p {
    font-size: 1.6rem;
    line-height: 1.4em;
    color: var(--color-text-light);

    &.copyright {
      font-size: 1.2rem;
      color: var(--color-text);
      margin: 0;
      margin-top: 20px;
    }

    b {
      @include fonts.font(700);
    }

    a {
      @include fonts.font(700);
      color: var(--color-blue) !important;

      &:hover {
        text-decoration: none;
      }
      // @include
    }
  }

  .footer-links {
    @include mixins.flex(40px);

    li {
      a {
        @include mixins.t();
        @include mixins.flex(5px);
        font-size: 1.6rem;
        color: var(--color-text);
        text-decoration: none;

        &:hover {
          color: var(--color-blue);
          svg {
            color: var(--color-blue);
          }
        }

        svg {
          @include mixins.t();
          color: var(--color-text);
          font-size: 2.2rem;
        }
      }
    }
  }

  hr {
    display: block;
    width: 100%;
    padding: 0;
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid var(--color-border);
  }
}
